<!DOCTYPE HTML>
<html>
	<head>
		<title>VESTIBULEARN</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/carlinhos.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body class="homepage">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper">
					<div id="header" class="container">

						<!-- Logo -->
							<h1 id="home"><a href="post_list.html">VESTIBULEARN</a></h1>
							<p>Aprendendo e ensinando.</p>

						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li><a class="icon fa-Entrada" href="post_list.html"><span>HOME</span></a></li>
									<li>
										<a><span>Matérias</span></a>
										<ul>
											<li>
												<a href="#">Matemática</a>
												<ul>
													<li><a href="estatistica.html">Estatistica</a></li>
													<li><a href="juros.html">Juros</a></li>
													<li><a href="medidas.html">Medidas de dispersão</a></li>
												</ul>
											</li>
											<li>
												<a href="#">História</a>
												<ul>
													<li><a href="#">História do brasil</a></li>
													<li><a href="#">História da revolução russa</a></li>
													<li><a href="https://www.instagram.com/carlosdaniel_freitas/">CARLOS É LINDO</a></li>
												</ul>
											</li>
											<li>
												<a href="#">Geografia</a>
												<ul>
													<li><a href="#">Hidrografia do Brasil</a></li>
													<li><a href="#">Relevo Brasileiro</a></li>
													<li><a href="#">Planicies do Brasil</a></li>
												</ul>
											</li>
											<li>
												<a href="#">Biologia</a>
												<ul>
													<li><a href="#">Genética</a></li>
													<li><a href="#">Reino Animalia</a></li>
													<li><a href="#">Reino Plantae</a></li>
												</ul>
											</li>
										</ul>
									</li>
									<li><a href="quemsomos.html"><span>Quem somos</span></a></li>
									<li><a href="contato.html"><span>Contato</span></a></li>
								</ul>
							</nav>

					</div>
				</div>
			<!-- Main -->
				<section id="main">
					<div class="container">
						<div class="row">

							<!-- Sidebar -->
								<div id="sidebar" class="col-4 col-12-medium">

									<!-- Excerpts -->
										<section>
											<ul class="divided">
												<li>

													<!-- Excerpt -->
														<article class="box excerpt">
															<header>
																<span class="date">23/11/18</span>
																<h3><a href="#">Instagram !</a></h3>
															</header>
															<p>Podem nos contatar pelo instagram.</p>
															<li><a href="https://www.instagram.com/carlosdaniel_freitas/"><span>Instagram Carlos</span></a></li>
															<li><a href="https://www.instagram.com/2.64kg/"><span>Instagram Ana</span></a></li>
														</article>

												</li>
												<li>

													<!-- Excerpt -->
														<article class="box excerpt">
															<header>
																<span class="date">23/11/18</span>
																<h3><a href="#">E-mails</a></h3>
															</header>
															<p>Vocês também podem nos escrever por e-mail.</p>
															<p>E-mail Carlos : carlosdanielfreitas41@gmail.com</p>
															<p>E-mail Küster : ana carolinekusterr@gmail.com </p>
														</article>

												</li>
												<li>

													<!-- Excerpt -->
														<article class="box excerpt">
															<header>
																<span class="date">23/11/18</span>
																<h3><a href="#">Facebook !</a></h3>
															</header>
															<p>Vocês podem nos visitar no Facebook e mandar mensagem, se for necessário.</p>
															<li><a href="https://www.facebook.com/carlosdaniel.defreitas"><span>Facebook Carlos</span></a></li>
															<li><a href="https://www.facebook.com/kusterkusterkuster"><span>Facebook Ana</span></a></li>														
														</article>

												</li>
											</ul>
										</section>

			<!-- Footer -->
				<div id="footer-wrapper">
					<div id="footer" class="container">
						<header>
							<h2>Comentários ou Críticas ;( ? <strong>É só escrever-nos:</strong></h2>
						</header>
						<div class="row">
							<div class="6u 12u(mobile)">
								<section>
									<form method="post" action="#">
										<div class="row 50%">
											<div class="6u 12u(mobile)">
												<input name="name" placeholder="Nome" type="text" />
											</div>
											<div class="6u 12u(mobile)">
												<input name="email" placeholder="Email" type="text" />
											</div>
										</div>
										<div class="row 50%">
											<div class="12u">
												<textarea name="message" placeholder="Mensagem"></textarea>
											</div>
										</div>
										<div class="row 50%">
											<div class="12u">
												<a href="#" class="form-button-submit button icon fa-envelope">Enviar Mensagem</a>
											</div>
										</div>
									</form>
								</section>
							</div>
							<div class="6u 12u(mobile)">
								<section>
									<p>Qualquer sugestão, critica, elogio, comentário de qualquer natureza, estaremos sempre a disposição e tentaremos ser 
									sempre responsivos, obrigado pela sua visita, abaixo sequem nossas redes sociais e email caso tenham alguma duvida, muito obrigado
									e o vestibulando agradeçe a preferencia.</p>
									<div class="row">
										<div class="6u 12u(mobile)>
												<li class="icon fa-envelope">
													<a href="#">carlosdanielfreitas41@gmail.com</a>
												</li>
												<li class="icon fa-envelope">
													<a href="#">carolinekusterr@gmail.com</a>
												</li>
											</ul>
										</div>
										<div class="6u 12u(mobile)">
											<ul class="icons">
												<li class="icon fa-twitter">
													<a href="#">@colocartwitter</a>
												</li>
												<li class="icon fa-instagram">
													<a href="https://www.instagram.com/carlosdaniel_freitas/">instagram.com/carlosdaniel_freitas/</a>
												</li>
												</li>
												<li class="icon fa-instagram">
													<a href="https://www.instagram.com/2.64kg/">instagram.com/2.64kg/</a>
												</li>
												<li class="icon fa-facebook">
													<a href="https://www.facebook.com/carlosdaniel.defreitas">facebook.com/carlosdaniel.defreitas</a>
												</li>
												<li class="icon fa-facebook">												
													<a href="https://www.facebook.com/kusterkusterkuster">facebook.com/kusterkusterkuster</a>
												</li>
											</ul>
										</div>
									</div>
								</section>
							</div>
						</div>
					</div>
					<div id="copyright" class="container">
						<ul class="links">
							<li>&copy; Carlos Daniel de Freitas e Ana Kuster. All rights reserved.</li><li>Design: Carlos Daniel</a></li>
						</ul>
					</div>
				</div>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/skel-viewport.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>