<!DOCTYPE HTML>
<html>
	<head>
		<title>VESTIBULEARN</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/carlinhos.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body class="homepage">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper">
					<div id="header" class="container">

						<!-- Logo -->
							<h1 id="home"><a href="post_list.html">VESTIBULEARN</a></h1>
							<p>Aprendendo e ensinando.</p>

						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li><a class="icon fa-Entrada" href="post_list.html"><span>HOME</span></a></li>
									<li>
										<a><span>Matérias</span></a>
										<ul>
											<li>
												<a href="#">Matemática</a>
												<ul>
													<li><a href="estatistica.html">Estatistica</a></li>
													<li><a href="juros.html">Juros</a></li>
													<li><a href="medidas.html">Medidas de dispersão</a></li>
												</ul>
											</li>
											<li>
												<a href="#">História</a>
												<ul>
													<li><a href="#">História do brasil</a></li>
													<li><a href="#">História da revolução russa</a></li>
													<li><a href="#">CARLOS É LINDO</a></li>
												</ul>
											</li>
											<li>
												<a href="#">Geografia</a>
												<ul>
													<li><a href="#">Hidrografia do Brasil</a></li>
													<li><a href="#">Relevo Brasileiro</a></li>
													<li><a href="#">Planicies do Brasil</a></li>
												</ul>
											</li>
											<li>
												<a href="#">Biologia</a>
												<ul>
													<li><a href="#">Genética</a></li>
													<li><a href="#">Reino Animalia</a></li>
													<li><a href="#">Reino Plantae</a></li>
												</ul>
											</li>
										</ul>
									</li>
									<li><a href="quemsomos.html"><span>Quem somos</span></a></li>
									<li><a href="contato.html"><span>Contato</span></a></li>
								</ul>
							</nav>

					</div>
				</div>
			<!-- Main -->
				<section id="main">
					<div class="container">
						<div class="row">

							<!-- Sidebar -->
								<div id="sidebar" class="col-4 col-12-medium">

									<!-- Excerpts -->
										<section>
											<ul class="divided">
												<li>

													<!-- Excerpt -->
														<article class="box excerpt">
															<header>
																<span class="date">20/10/18</span>
																<h3><a href="#">1 - (Enem 2009)</a></h3>
															</header>
															<p> João deve 12 parcelas de R$ 150,00 referentes ao cheque especial de seu banco e cinco parcelas de R$ 80,00 referentes ao cartão de crédito. O gerente do banco lhe ofereceu duas parcelas de desconto no cheque especial, caso João quitasse esta dívida imediatamente ou, na mesma condição, isto é, quitação imediata, com 25% de desconto na dívida do cartão. João também poderia renegociar suas dívidas em 18 parcelas mensais de R$ 125,00. Sabendo desses termos, José, amigo de João, ofereceu-lhe emprestar o dinheiro que julgasse necessário pelo tempo de 18 meses, com juros de 25% sobre o total emprestado.</p>

<p>A opção que dá a João o menor gasto seria</p>

<p>a) renegociar suas dívidas com o banco.</p>

<p>b) pegar emprestado de José o dinheiro referente à quitação das duas dívidas.</p>

<p>c) recusar o empréstimo de José e pagar todas as parcelas pendentes nos devidos prazos.</p>

<p>d) pegar emprestado de José o dinheiro referente à quitação do cheque especial e pagar as parcelas do cartão de crédito.</p>

<p>e) pegar emprestado de José o dinheiro referente à quitação do cartão de crédito e pagar as parcelas do cheque especial.</p>
														</article>

												</li>
												<li>

													<!-- Excerpt -->
														<article class="box excerpt">
															<header>
																<span class="date">23/10/18</span>
																<h3><a href="#">2 - (ENEM 2000)</a></h3>
															</header>
															<p>João deseja comprar um carro cujo preço à vista, com todos os pontos possíveis, é de R$ 21.000,00 e esse valor não será reajustado nos próximos meses.</p>

<p>Ele tem R$ 20.000,00, que podem ser aplicados a uma taxa de juros compostos de 2% ao mês, e escolhe deixar todo o seu dinheiro aplicado até que o montante atinja o valor do carro.</p>

<p>Para ter o carro, João deverá esperar:</p>

<p>a) dois meses, e terá a quantia exata.</p>

<p>b) três meses, e terá a quantia exata.</p>

<p>c) três meses, e ainda sobrarão, aproximadamente, R$225,00.</p>

<p>d) quatro meses, e terá a quantia exata.</p>

<p>e) quatro meses, e ainda sobrarão, aproximadamente, R$430,00.</p>
														</article>

												</li>
												<li>

													<!-- Excerpt -->
														<article class="box excerpt">
															<header>
																<span class="date">23/11/18</span>
																<h3><a href="#">3 - (Enem 2011)</a></h3>
															</header>
															<p>Considere que uma pessoa decida investir uma determinada quantia e que lhe sejam apresentadas três possibilidades de investimento, com rentabilidades líquidas garantidas pelo período de um ano, conforme descritas:</p>
<p>Investimento A 3% ao mês</p>

<p>Investimento B: 36% ao ano</p>

<p>Investimento C: 18% ao semestre</p>

<p>As rentabilidades, para esses investimentos, incidem sobre o valor do período anterior. O quadro fornece algumas aproximações para a análise das rentabilidades:</p>

<p>n 1,03n</p>

<p>3 1,093</p>

<p>6 1,194</p>

<p>9 1,305</p>

<p>12 1,426</p>

<p>Para escolher o investimento com a maior rentabilidade anual, essa pessoa deverá</p>

<p>a) escolher qualquer um dos investimentos A, B ou C, pois as suas rentabilidades anuais são iguais a 36%.</p>

<p>b) escolher os investimentos A ou C, pois suas rentabilidades anuais são iguais a 39%.</p>

<p>c) escolher o investimento A, pois a sua rentabilidade anual é maior que as rentabilidades anuais dos investimentos B e C.</p>

<p>d) escolher o investimento B, pois sua rentabilidade de 36% é maior que as rentabilidades de 3% do investimento A e de 18% do investimento C.</p>

<p>e) escolher o investimento C, pois sua rentabilidade de 39% ao ano é maior que a rentabilidade de 36% ao ano dos investimentos A e B.</p>
														</article>

												</li>
<li>

													<!-- Excerpt -->
														<article class="box excerpt">
															<header>
																<span class="date">23/10/18</span>
																<h3>GABARITO</h3>
															</header>

<p>Só olhe as respostas abaixo depois de ter concluido todas as questões.</p>

<p>1 - E</p>
<p>2 - C</p>
<p>3 - C</p>
														</article>

												</li>
											</ul>
										</section>

			<!-- Footer -->
				<div id="footer-wrapper">
					<div id="footer" class="container">
						<header>
							<h2>Comentários ou Críticas ;( ? <strong>É só escrever-nos:</strong></h2>
						</header>
						<div class="row">
							<div class="6u 12u(mobile)">
								<section>
									<form method="post" action="#">
										<div class="row 50%">
											<div class="6u 12u(mobile)">
												<input name="name" placeholder="Nome" type="text" />
											</div>
											<div class="6u 12u(mobile)">
												<input name="email" placeholder="Email" type="text" />
											</div>
										</div>
										<div class="row 50%">
											<div class="12u">
												<textarea name="message" placeholder="Mensagem"></textarea>
											</div>
										</div>
										<div class="row 50%">
											<div class="12u">
												<a href="#" class="form-button-submit button icon fa-envelope">Enviar Mensagem</a>
											</div>
										</div>
									</form>
								</section>
							</div>
							<div class="6u 12u(mobile)">
								<section>
									<p>Qualquer sugestão, critica, elogio, comentário de qualquer natureza, estaremos sempre a disposição e tentaremos ser 
									sempre responsivos, obrigado pela sua visita, abaixo sequem nossas redes sociais e email caso tenham alguma duvida, muito obrigado
									e o vestibulando agradeçe a preferencia.</p>
									<div class="row">
										<div class="6u 12u(mobile)>
												<li class="icon fa-envelope">
													<a href="#">carlosdanielfreitas41@gmail.com</a>
												</li>
												<li class="icon fa-envelope">
													<a href="#">carolinekusterr@gmail.com</a>
												</li>
											</ul>
										</div>
										<div class="6u 12u(mobile)">
											<ul class="icons">
												<li class="icon fa-twitter">
													<a href="#">@colocartwitter</a>
												</li>
												<li class="icon fa-instagram">
													<a href="https://www.instagram.com/carlosdaniel_freitas/">instagram.com/carlosdaniel_freitas/</a>
												</li>
												</li>
												<li class="icon fa-instagram">
													<a href="https://www.instagram.com/2.64kg/">instagram.com/2.64kg/</a>
												</li>
												<li class="icon fa-facebook">
													<a href="https://www.facebook.com/carlosdaniel.defreitas">facebook.com/carlosdaniel.defreitas</a>
												</li>
												<li class="icon fa-facebook">												
													<a href="https://www.facebook.com/kusterkusterkuster">facebook.com/kusterkusterkuster</a>
												</li>
											</ul>
										</div>
									</div>
								</section>
							</div>
						</div>
					</div>
					<div id="copyright" class="container">
						<ul class="links">
							<li>&copy; Carlos Daniel de Freitas e Ana Kuster. All rights reserved.</li><li>Design: Carlos Daniel</a></li>
						</ul>
					</div>
				</div>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/skel-viewport.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>